body {
    display: grid;
    place-items: center;
    margin-top: 100px;
  }

#logoBox{
  display: grid;
  grid-template:
  "a a";
}

form{
  margin-left: 120px;
  display: grid;
  grid-template:
  "b c" / 1fr 1fr;
}

#searchInput{
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

#searchbox{
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px #ccc;
  }

#submit {
    width: 40%;
    padding: 10px;
    background-color: #333;
    color: #f5f5f5;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    margin-left: 10px;
  }

#submit:hover {
    background-color: #1fb66f;
    color: #474343;
  }

#resultBox{
  border: 1px solid black;
}
#imgList{
  
  display: grid;
  grid-template:
  "a b c d"
  "e f g h"
  "i i j j" / auto 1fr;
  margin-top: 10px;
  
}
img{
  width: 400px;
}
li {
  width: 400px;
}
#buttonBox{
  display: grid;
  grid-template:
  "a b" auto 1fr;
  gap: 5px;
}
#previousButton{
 grid-area: a;
}
#nextButton{
 grid-area: b;
}