* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background-image: url('landscape-7744216_1920.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  margin-top: 10px;
  width: 100%;
}

form{
  display: grid;
  grid-template:
  "a b c" / 2fr 1fr 1fr;
  gap: 5px;
}

#searchInput{
  background-color: #f2f2f2;
  padding: 10px;
  box-shadow: 0 0 10px #ccc;
}

#searchBox{
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
}
#searchInputButton{
  padding: 10px;
  background-color: #2b2929;
  color: #f5f5f5;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

#colorSelectionButton{
  width: 100%;
  padding: 10px;
  background-color: #2b2929;
  color: #f5f5f5;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #2b2929;
  color: #f5f5f5;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}

button:hover {
  background-color: #e68619;
  color: #474343;
}

#resultBox{
  margin-top: 20px;
}
#imgList{
  display: grid;
  grid-template:
  "a b c d"
  "e f g h"
  "i i j j" / auto 1fr;
  gap: 10px;
  justify-content:flex-end;
}

img{
  object-fit: cover;
  width: 100%;}

li {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-weight: bold;
  font-size: 17px;
  width: 400px;
}

#buttonBox{
  display: grid;
  grid-template:
  "a b" / 1fr 1fr;
  gap: 5px;
  margin-top: 20px;
}

#previousButton{
  grid-area: a;
  padding: 20px;
}

#nextButton{
 grid-area: b;
 padding: 20px;
}

@media (max-width: 1200px) {
  #imgList{
    display: grid;
    grid-template:
    "a b c"
    "d e f"
    "g h i"
    "j j j" / 1fr 1fr;
    gap: 5px;
    justify-content:flex-end;
  }

  img{
    object-fit: cover;
    width: 100%;  }

  li {
    list-style-type: none;
    font-weight: bold;
    font-size: 17px;
    width: 360px;
  }
}


@media (max-width: 800px) {
  #imgList{
    display: grid;
    grid-template:
    "a b"
    "c d"
    "e f"
    "g h"
    "i j" / 1fr 1fr;
    gap: 5px;
    justify-content:flex-end;
  }
}

@media (max-width: 500px) {
  #imgList{
    display: grid;
    grid-template:
    "a"
    "b"
    "c"
    "d"
    "e"
    "f"
    "g"
    "h"
    "i"
    "j" / 1fr;
    gap: 5px;
    justify-self: flex-end;
  }
  img{
    object-fit: cover;
    width: 100%;
  }
  li {
    list-style-type: none;
    font-weight: bold;
    font-size: 17px;
    width: 400px;
  }
}
