body {
    display: grid;
    place-items: center;
    margin-top: 100px;
  }

#LogoBox{
  display: grid;
  grid-template:
  "a a";
}

form{
  margin-left: 120px;
  display: grid;
  grid-template:
  "b c" / 1fr 1fr;
}

#SearchInput{
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

#Searc {
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px #ccc;
  }

#submit {
    width: 40%;
    padding: 10px;
    background-color: #333;
    color: #f5f5f5;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    margin-left: 10px;
  }

#submit:hover {
    background-color: #1fb66f;
    color: #474343;
  }

#ResultBox{
  width: 800px;
  height: 800px;
  display: grid;
  grid-template:
  "a b"
  "c d"
  "e f"
  "g h" / 1fr 1fr;
  margin-top: 10px;
  border: 1px solid black;
}
