* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  background-image: url('landscape-7744216_1920.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}

html, body {
  height: 100%;
}
body {
  display: grid;
  place-items: center;
  margin-top: 10px;
}

#logoBox{  
}

form{
  display: grid;
  grid-template:
  "a b c" / 2fr 1fr 1fr;
  gap: 2px;
}

#searchInput{
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

#searchBox{
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
}
#searchInputButton{
  width: 100%;
  padding: 10px;
  background-color: #2b2929;
  color: #f5f5f5;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin-left: 10px;
}

#colorSelectionButton{
  width: 100%;
  padding: 10px;
  background-color: #2b2929;
  color: #f5f5f5;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin-left: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #2b2929;
  color: #f5f5f5;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin-left: 10px;
}

button:hover {
  background-color: #1fb66f;
  color: #474343;
}

#resultBox{
  margin-top: 20px;
}
#imgList{
  display: grid;
  grid-template:
  "a b c d"
  "e f g h"
  "i i j j" / auto 1fr;
  gap: 10px;
}
img{
  width: 400px;
}
li {
  list-style-type: none;
  width: 400px;
}
#buttonBox{
  display: grid;
  grid-template:
  "a b" / 1fr 1fr;
  gap: 5px;
  margin-top: 20px;
}
#previousButton{
  grid-area: a;
  padding: 20px;
}
#nextButton{
 grid-area: b;
 padding: 20px;
}
